<template>
  <div>
    <h2>Other stats</h2>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Total number of conversion requests made
        <span
          class="badge badge-primary badge-pill"
        >{{convertsCount}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Total amount converted (in USD)
        <span
          class="badge badge-primary badge-pill"
        >{{usdAmount | round(2) }}</span>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from "axios";
import { EventBus } from "../event-bus";

export default {
  name: "convertStats",
  data() {
    return {
      convertsCount: 0,
      usdAmount: 0
    };
  },
  mounted() {
    this.loadStats();
    EventBus.$on("new-convert", this.loadStats);
  },
  methods: {
    loadStats() {
      axios
        .get(`${process.env.VUE_APP_BACKEND_URL}/converts-count`)
        .then(res => {
          this.convertsCount = res.data.count;
        });
      axios.get(`${process.env.VUE_APP_BACKEND_URL}/usd-amount`).then(res => {
        this.usdAmount = res.data.sum;
      });
    }
  }
};
</script>
