<template>
  <div>
    <form-alerts :errors="errors"></form-alerts>
    <form @submit.prevent="submitForm">
      <div class="row">
        <div class="input-group mb-3 col-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">Amount</span>
          </div>
          <input
            type="number"
            class="form-control"
            aria-label="Amount"
            aria-describedby="inputGroup-sizing-default"
            v-model="amount"
          >
        </div>

        <div class="input-group mb-3 col-sm">
          <div class="input-group-prepend">
            <label class="input-group-text" for="from-input">From</label>
          </div>
          <select class="custom-select" id="from-input" v-model="from">
            <option selected :value="undefined">Choose...</option>
            <option
              v-for="currency in Object.keys(currencies)"
              :key="currency"
              :value="currency"
            >{{currencies[currency]}}</option>
          </select>
        </div>

        <div class="input-group mb-3 col-sm">
          <div class="input-group-prepend">
            <label class="input-group-text" for="to-input">To</label>
          </div>
          <select class="custom-select" id="to-input" v-model="to">
            <option selected :value="undefined">Choose...</option>
            <option
              v-for="currency in Object.keys(currencies)"
              :key="currency"
              :value="currency"
            >{{currencies[currency]}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="result-input">Result</span>
            </div>
            <input
              type="text"
              class="form-control"
              aria-describedby="result-input"
              readonly
              :value="result | round(2)"
            >
            <div class="input-group-append" v-if="to">
              <span class="input-group-text">{{to}}</span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3 col-sm-3">
          <button
            class="btn btn-primary btn-block"
            type="submit"
            form="form1"
            value="Submit"
            :disabled="formDisabled"
            @click.prevent="submitForm"
          >
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
              v-if="formDisabled"
            ></span>
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import axios from "axios";
import FormAlerts from "./FormAlerts";
import { EventBus } from "../event-bus";

export default {
  name: "converterForm",
  components: { FormAlerts },
  data() {
    return {
      amount: undefined,
      from: undefined,
      to: undefined,
      result: undefined,
      currencies: [],
      errors: [],
      formDisabled: false
    };
  },
  mounted() {
    axios
      .get(`${process.env.VUE_APP_BACKEND_URL}/currencies-list`)
      .then(res => {
        this.currencies = res.data;
      })
      .catch(() => {
        this.errors.push("Error while getting currencies list");
      });
  },
  methods: {
    submitForm() {
      this.formValidation();
      if (this.errors.length === 0) {
        this.formDisabled = true;
        axios
          .get(
            `${process.env.VUE_APP_BACKEND_URL}/converter?amount=${
              this.amount
            }&from=${this.from}&to=${this.to}`
          )
          .then(res => {
            this.formDisabled = false;
            this.result = res.data.convertedAmount;
            EventBus.$emit("new-convert");
          })
          .catch(err => {
            this.formDisabled = false;
            this.errors = err.data;
          });
      }
    },
    formValidation() {
      this.errors = [];
      if (!this.from) {
        this.errors.push('Currency "from" is required!');
      }
      if (!this.to) {
        this.errors.push('Currency "to" is required!');
      }
      if (!this.amount) {
        this.errors.push("Amount is required!");
      }
    }
  }
};
</script>
