<template>
  <div>
    <div
      v-for="(error, id) in errors"
      :key="id"
      class="alert alert-warning alert-dismissible fade show"
      role="alert"
    >
      {{error}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "formAlerts",
  props: ["errors"]
};
</script>
