<template>
  <div>
    <h2>Most popular destination currency</h2>
    <ul class="list-group">
      <li
        v-for="(currency, id) in mostPopularCurrensiec"
        :key="id"
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        {{currency.currency.toUpperCase()}}
        <span
          class="badge badge-primary badge-pill"
        >{{currency.count}}</span>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from "axios";
import { EventBus } from "../event-bus";

export default {
  name: "mostPopularCurrencies",
  data() {
    return {
      mostPopularCurrensiec: []
    };
  },
  mounted() {
    this.loadStats();
    EventBus.$on("new-convert", this.loadStats);
  },
  methods: {
    loadStats() {
      axios
        .get(`${process.env.VUE_APP_BACKEND_URL}/most-popular-count`)
        .then(res => {
          this.mostPopularCurrensiec = res.data;
        });
    }
  }
};
</script>
