<template>
  <div id="app" class="container">
    <h1>Currency converter</h1>
    <div class="container">
      <converter-form></converter-form>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <most-popular-currencies></most-popular-currencies>
      </div>
      <div class="col-md-6">
        <convert-stats></convert-stats>
      </div>
    </div>
  </div>
</template>

<script>
import ConverterForm from "./components/ConverterForm";
import MostPopularCurrencies from "./components/MostPopularCurrencies";
import ConvertStats from "./components/ConvertStats";

export default {
  name: "app",
  components: {
    ConverterForm,
    MostPopularCurrencies,
    ConvertStats
  }
};
</script>
